.button {
    width: 200px;
    height: 200px;
    float: left;
    font-size: 125px;
    margin: 15px 15px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: solid black 2px;
}

.active {
    transform: scale(1.05);
    box-shadow: 0 0 2rem #fff;
    opacity: 1;
}